In [55]:
import pandas as pd 
import numpy as np
data = 'https://raw.githubusercontent.com/krishnaik06/Complete-Feature-Engineering/master/mercedesbenz.csv'

In [56]:
df = pd.read_csv(data,usecols=['X1','X2'])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [57]:
pd.get_dummies(df).shape

(4209, 71)

In [58]:
len(df['X1'].unique())

27

In [59]:
len(df['X2'].unique())

44

In [60]:
for col in df.columns[0:]:
    print(col,':',len(df[col].unique()),'labels')

X1 : 27 labels
X2 : 44 labels

In [61]:
df.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'an': 5,
 'q': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'am': 1,
 'j': 1,
 'af': 1,
 'l': 1,
 'aa': 1,
 'c': 1,
 'o': 1,
 'ar': 1}

In [65]:
df_map = df.X2.value_counts().to_dict()

In [68]:
df.x2 = df.X2.map(df_map)
df.head()

  X1   X2
0  v   12
1  t   12
2  w  137
3  t  137
4  v  137

In [67]:
df.X2 = df.X2.map(df_map)
df.head()

  X1   X2
0  v   12
1  t   12
2  w  137
3  t  137
4  v  137