In [1]:
import pandas as pd
import seaborn as sns
df = pd.read_csv('iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [2]:
df.shape

(150, 6)

In [3]:
df.drop(['Id'],axis=1,inplace=True)
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
df['Species'].value_counts().to_dict()

{'Iris-setosa': 50, 'Iris-versicolor': 50, 'Iris-virginica': 50}

In [6]:
spec = {'Species':{'Iris-setosa': 1, 'Iris-versicolor': 2, 'Iris-virginica': 3}}
df.replace(spec,inplace=True)

In [7]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        1
1            4.9           3.0            1.4           0.2        1
2            4.7           3.2            1.3           0.2        1
3            4.6           3.1            1.5           0.2        1
4            5.0           3.6            1.4           0.2        1

In [8]:
X = df.iloc[:,:-1] #Set our training data

y = df.iloc[:,-1] #Set training labels

In [9]:
print(X.shape)
print(y.shape)

(150, 4)
(150,)

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X.values,y.values,test_size=0.30,random_state=41)
print(X_train.shape)
print(y_train.shape)

(105, 4)
(105,)

## Random Forest

In [29]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
reg = RandomForestClassifier()
reg.fit(X_train,y_train)
y_pred = reg.predict(X_test)
print(y_pred)
scpre = accuracy_score(X_test,y_pred)
print("Score:",score)

[2 3 3 2 3 2 3 2 3 3 3 1 1 2 1 2 1 3 1 1 2 3 1 1 2 2 2 2 1 2 2 2 2 2 3 1 3
 2 3 3 2 2 1 3 3]

ValueError: Classification metrics can't handle a mix of continuous-multioutput and multiclass targets

In [22]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

mae = mean_absolute_error(y_test,y_pred)
mse = mean_squared_error(y_test,y_pred)
r2score = r2_score(y_test,y_pred)

print("Mean Absolute Error:",mae)
print("Mean Squared Error",mse)
print("Root Mean Squared Error",np.sqrt(mse))
print("R2 score",r2score)

Mean Absolute Error: 0.1111111111111111
Mean Squared Error 0.1111111111111111

NameError: name 'np' is not defined

In [ ]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(X_train)
scaler

## Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
regression = LogisticRegression()
regression.fit(X_train,y_train)
y_preds = regression.predict(X_test)
score = accuracy_score(X_test,y_preds)
print(score)

In [ ]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

mae = mean_absolute_error(y_test,y_preds)
mse = mean_squared_error(y_test,y_preds)
r2score = r2_score(y_test,y_preds)

print("Mean Absolute Error:",mae)
print("Mean Squared Error",mse)
print("Root Mean Squared Error",np.sqrt(mse))
print("R2 score",r2score)